/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

body {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

img {
  pointer-events: none;
}

.blur-screen {
  filter: blur(10px);
}
